@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "./nav_mobile.scss";

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  position: relative;
}

a {
  cursor: pointer;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

@mixin flex-col($height) {
  display: flex;
  flex-direction: column;
  height: $height;
}

@mixin hr($width, $color) {
  border: 1px solid $color;
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin section_title($color, $border-color, $font-size) {
  color: $color;
  border-bottom: 1px solid $border-color;
  font-size: $font-size;
  text-transform: uppercase;
}

/* NAV */

.nav__link {
  display: inline-block;
  padding: 18px 16px;
  position: relative;
}

/* HOME */

.home {
  @include flex-col(100vh);
  align-items: center;
  background-color: #000000;
  color: #fff;
  font-size: 1.4rem;
  justify-content: center;
}

.home__header {
  font-size: 30px;
  font-size: 1.85rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.home__subhead {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 5px;
  padding-bottom: 0.7rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

/* ABOUT */

.about {
  align-items: flex-start;
  background-color: #0e1216;
  padding: 2px 20px 25% 20px;
  text-align: left;
}

.about__title {
  @include section_title(#ffffff, #ffffff, 0.9rem);
  font-weight: 600;
  letter-spacing: 0.25rem;
  padding-bottom: 3px;
  padding-top: 80px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.about h1 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.04rem;
  line-height: 1.4;
  margin: 0.5rem 0 0.5rem 0;
}

.about h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.5rem 0 0.5rem 0;
}

/* SKILLS */

.skills {
  color: #555F61;
  height: 100%;
  padding: 20px;
}

.skills__title {
  @include section_title(#555F61, #555F61, 0.9rem);
  font-weight: 600;
  letter-spacing: 0.25rem;
  padding-bottom: 3px;
  padding-top: 60px;
  text-align: left;
}

.skills__card {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding: 1.2rem 0;
  transition: 0.3s;
}

.skills__icons {
  margin: 20px 0 10px 0;
}

.skills h3 {
  font-size: 1.1rem;
  margin: 0;
  text-transform: uppercase;
}

.skills hr {
  @include hr(50%, grey);
}

.skills__items {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.skills li {
  letter-spacing: 0.1rem;
  list-style: none;
  padding-right: 2.8rem;
  text-align: center;
}

.skills__resume {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0.4rem;
}

.skills h4 {
  color: #555F61;
  padding: 0 0.4rem;
}

.skills__resume-download {
  padding: 0.01rem;
}

/* CONTACT ************************************************* */

.contact {
  align-items: flex-start;
  background-color: #4b5156;
  padding: 20px 20px 25% 20px;
  text-align: left;
}

.contact__title {
  @include section_title(white, white, 0.9rem);
  font-weight: 600;
  letter-spacing: 0.25rem;
  padding-bottom: 3px;
  padding-top: 60px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.contact__text-container {
  display: flex;
  flex-direction: column;
}

.contact h2 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.5rem 0 0.5rem 0;
}

.contact__email {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 3rem 0 0 0;
  text-align: center;
  text-transform: none;
}

.contact__icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact__icons {
  margin: 15px 10px;
}

.contact a {
  color: #496d89;
  z-index: 200;
}

.contact__submission {
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 13rem 2.5rem;
}

.contact__submission a {
  color: #000000;
  margin-top: 150rem;
}

/* ************************************************* */
/* ************************************************* */

@media (min-width: 600px) {
  /* NAV */

  .navBar {
    background-color: #0e1216;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 200;
  }

  /* HOME */

  .home__header {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .home__subhead {
    font-size: 1.45rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.7rem;
  }

  /* ABOUT */

  .about {
    height: 100vh;
    padding: 7rem 10%;
  }

  .about__title {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .about h1 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 0.7rem 0;
  }

  .about h2 {
    font-size: 1.3rem;
    letter-spacing: -0.005rem;
    padding: 0.7rem 0;
  }

  /* SKILLS */

  .skills {
    height: 100%;
    padding: 7rem 10%;
  }

  .skills__title {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
  }

  .skills__card {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 3rem 3%;
    padding: 4rem 4rem;
    transition: 0.3s;
  }

  .skills__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  /* CONTACT */

  .contact {
    height: 100vh;
    padding: 7rem 10%;
  }

  .contact__title {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
  }

  .contact h2 {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.005rem;
    padding: 0.7rem 0;
  }

  .contact__email {
    font-size: 1.7rem;
    letter-spacing: 0.15rem;
  }

  .contact__icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .contact__submission {
    font-size: 1.6rem;
    padding-top: 20rem;
    text-align: center;
    width: auto;
  }
}

@media (min-width: 1000px) {

  .nav__link {
    padding: 1rem 2.2rem;
  }

  .home h1{
    font-size: 4rem;
    font-weight: 600;
  }

  .home h2 {
    font-size: 2.7rem;
    font-weight: 500;
  }

  .about h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 0.7rem 0;
  }

  .about h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
  }

  /* CONTACT */
  .contact h2 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -0.005rem;
  }

  .contact__icon-container {
    padding-top: 40px;
  }

  /* SKILLS */

  .skills {
    height: 100%;
    padding: 7rem 7%;
  }

  .skills__title {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
  }

  .skills__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .skills__card {
    flex-basis: 15rem;
    margin: 1rem 3%;
    padding: 4rem 4rem;
    transition: 0.3s;
  }

  .skills__icons {
    margin: 20px 0 10px 0;
  }

  .skills h3 {
    margin: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .skills li {
    font-size: 1.2rem;
  }

  .skills hr {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .skills__items {
    margin: 0;
    width: 100%;
  }

  .contact__submission {
    font-size: 1.6rem;
    padding-top: 20rem;
    text-align: center;
    width: auto;
  }
}
